.Home{
    width: 50%;
    margin: auto;
}
.header{
    background: #F55A5A;
    height: 55px;
    text-align: center;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0.075em;
    color: #fff;
    padding: ;
}
.tour-list{
    /* padding: 40px; */
}